/*
Error: Invalid CSS after "260rpx": expected expression (e.g. 1px, bold), was ";"
        on line 8 of home.wxss

3: page{
4:     font-family:PingFangSC-Medium,PingFang SC;
5: }
6: 
7: .header{
8:     height: 260rpx;
9:     background: #ffffff;
10:     margin-bottom: 40rpx;
11: }
12: 
13: .logo {

Backtrace:
home.wxss:8
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/script/lexer.rb:240:in `expected!'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/script/parser.rb:897:in `assert_done'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/script/parser.rb:69:in `parse'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/script/parser.rb:228:in `parse'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/script.rb:27:in `parse'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:1169:in `parse_script'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:745:in `parse_property'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:707:in `parse_property_or_rule'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:666:in `parse_line'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:539:in `build_tree'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:548:in `block in build_tree'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:541:in `each'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:541:in `build_tree'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:417:in `_to_tree'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/qiujie/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/qiujie/.rvm/gems/ruby-2.6.3/bin/sass:23:in `load'
/Users/qiujie/.rvm/gems/ruby-2.6.3/bin/sass:23:in `<main>'
/Users/qiujie/.rvm/gems/ruby-2.6.3/bin/ruby_executable_hooks:24:in `eval'
/Users/qiujie/.rvm/gems/ruby-2.6.3/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"260rpx\": expected expression (e.g. 1px, bold), was \";\"\A         on line 8 of home.wxss\A \A 3: page{\A 4:     font-family:PingFangSC-Medium,PingFang SC;\A 5: }\A 6: \A 7: .header{\A 8:     height: 260rpx;\A 9:     background: #ffffff;\A 10:     margin-bottom: 40rpx;\A 11: }\A 12: \A 13: .logo {"; }
