/* miniprogram/pages/commute/commute.wxss */
@import "../../style/preset.scss";

page {
  background-color: #ffffff !important;
}

.container {
  width: 750rpx;
  padding: 0 80rpx;
}

.tab-item {
  color: #637381;
  padding: 30rpx 0;
  position: relative;
}

.tab-item.current {
  color: #212b36;
}

.tab-item.current::after {
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 8rpx;
  display: block;
  background: $blue;
  position: absolute;
}

.tab-cotainer {
  display: flex;
  width: 590rpx;
  align-items: center;
  margin: 40rpx 0rpx 40rpx;
  justify-content: space-around;
  border-bottom: 1px solid #dfe3e8;
}

.type {
  margin: 60rpx 150rpx 45rpx;
  display: grid;
  grid-template: 1 2;
}

.type-it {
  width: 190rpx;
  height: 80rpx;
  border-radius: 7rpx;
  border: 2rpx solid rgba(214, 214, 214, 1);
}

.type-it:first-child {
  margin-right: 47rpx;
}

.type-active {
  width: 190rpx;
  height: 80rpx;
  position: relative;
  color: $blue;
  background: rgba(255, 255, 255, 1);
  border-radius: 7rpx;
  border: 2rpx solid $blue;
}

.type-selected {
  position: absolute;
  right: -1rpx;
  bottom: -2rpx;
}
