@import "../../fonts/iconfont.wxss";
@import "../../app.wxss";
@import "../../style/preset.scss";

.time {
  width: 100%;
}

.icon {
  font-size: 40rpx;
}

.time-con {
  width: 500rpx;
  margin-left: 34rpx;
  font-size: 27rpx;
  font-family: Helvetica;
  color: rgba(33, 43, 54, 1);
  background: rgba(255, 255, 255, 1);
}

.picker {
  width: 450rpx;
  height: 65rpx;
  color: $fontcolor;
  padding-left: 24rpx;
  padding-right: 24rpx;
  border-radius: 5rpx;
  border: 2rpx solid $gray;
}

.time-picker {
  margin-left: 20rpx;
}

.jiantou {
  font-size: 22rpx;
}
