/* miniprogram/pages/orderDetail/orderDetail.wxss */
@import "../../fonts/iconfont.wxss";
@import "../../app.wxss";
@import "../../style/preset.scss";

.order-detail {
  padding: 42rpx 67rpx;
}

.tip {
  font-size: 22rpx;
  padding: 13rpx 3rpx;
  color: rgb(255, 134, 13);
  background-color: rgb(255, 242, 228);
}

.order-status {
  font-size: 54rpx;
  color: $blue;
}

.order-custom {
  font-size: 22rpx;
  color: $blue;
}

.customer {
  max-width: 80rpx;
  margin-right: 5rpx;
}

.order-desc {
  margin-top: 111rpx;
  margin-bottom: 140rpx;
  font-size: 36rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(73, 74, 76, 1);
}

.desc-item {
  display: flex;
  margin-bottom: 43rpx;
}

.desc-one {
  width: 200rpx;
}

.desc-two {
  flex: 1;
}

.order-more {
  width: 404rpx;
  height: 101rpx;
  font-size: 33rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background: #3184c7;
  border-radius: 5rpx;
}

.order-cancel {
  color: $blue;
  width: 250rpx;
  font-size: 29rpx;
  font-weight: 500;
  font-family: PingFangSC-Medium, PingFang SC;
}

.concact {
  margin-right: 20rpx;
}

.phone {
  font-size: 40rpx;
}
