/* miniprogram/pages/orderDetail/orderDetail.wxss */
@import "../../fonts/iconfont.wxss";
@import "../../app.wxss";
@import "../../style/preset.scss";

.order-detail {
  padding: 42rpx 67rpx;
}

.tip {
  font-size: 26rpx;
  padding: 12rpx 4rpx;
  color: rgb(255, 134, 13);
  background-color: rgb(255, 242, 228);
}

.order-status {
  color: $blue;
  font-size: 54rpx;
  font-weight: bold;
}

.order-custom {
  font-size: 22rpx;
  color: $blue;
}

.customer-btn {
  max-width: 80rpx;
  max-height: 80rpx;
}

.customer {
  color: #494a4c;
  font-size: 50rpx;
}

.order-desc {
  margin-top: 80rpx;
  margin-bottom: 80rpx;
  font-size: 36rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(73, 74, 76, 1);
}

.desc-item {
  display: flex;
  margin-bottom: 40rpx;
}

.desc-one {
  width: 200rpx;
}

.desc-two {
  flex: 1;
}

.order-more {
  width: 404rpx;
  height: 101rpx;
  font-size: 33rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background: #3184c7;
  border-radius: 5rpx;
}

.order-cancel {
  color: $blue;
  width: 250rpx;
  font-size: 29rpx;
  font-weight: 500;
  font-family: PingFangSC-Medium, PingFang SC;
}

.concact {
  margin-right: 20rpx;
}

.phone {
  font-size: 40rpx;
}

.blue {
  color: $blue;
}

.copy {
  color: #555;
  font-size: 40rpx;
  margin-left: 20rpx;
}
