/* components/totalLoss/totalLoss.scss */
@import "../../app.wxss";
@import "../../fonts/iconfont.wxss";

page {
  background-color: #ffffff;
}

.total-loss {
  color: #ff860d;
  font-size: 26rpx;
  padding-bottom: 20rpx;
  background-color: #ffffff;
}

.iconfont {
  font-size: 34rpx;
}
