/* components/areaAddress/areaAddress.wxss */
@import "../../app.wxss";
@import "../../style/preset.scss";

.poi-con {
  height: 65rpx;
  font-size: 27rpx;
  color: $fontcolor;
  border-radius: 5rpx;
  padding-left: 24rpx;
  padding-right: 24rpx;
  font-family: Helvetica;
  border: 2rpx solid $gray;
  background: rgba(255, 255, 255, 1);
}

.jiantou {
  font-size: 22rpx;
}
.input .placeholder {
  color: $fontcolor;
}

.error,
.error .wx-checkbox-input {
  border: 2rpx solid red;
}
